.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;}

.footer > p {
    padding: 5px;
    font-size: 14px;
}


  