
  .header_center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    /* height: 30px; */
    border: 1px solid lightgray;
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

  }

  .search_input{
    width: 250px;
  }
  
  .header_center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 500px;
    font-size: 25px;
  }

  
  .search_icon{
    color: #fff;
    background-color: #FF385C;
    border-radius: 100%;
    padding: 3px;
    width: 45px !important;
    height: 45px !important;
  }

 
  